

/*jumbotron container 
----------------------------- */

.container-header {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

}

/*jumbotron 
----------------------------- */
 .jumbotron {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}



/* Color blocks
-------------------------------------------------- */
.bg-blueOne {
  background: #01ABB4 !important;
  color: white !important;
  border-color: #01ABB4 !important;
}

.bg-blueTwo {
  background: #019AA2 !important;
  color: white !important;
  border-color: #019AA2 !important;
}

.bg-blueThree {
  background: #01878E !important;
  color: white !important;
  border-color: #01878E !important;
}

.bg-blueFour {
  background: #01747A !important;
  color: white !important;
  border-color: #01747A !important;
}

.bg-blueFive {
  background: #016065 !important;
  color: white !important;
  border-color: #016065 !important;
}

.bg-blueSix {
  background: #004D51 !important;
  color: white !important;
  border-color: #004D51!important;
}

.bg-blueSeven {
  background: #003A3D !important;
  color: white !important;
  border-color: #003A3D !important;
}

.bg-blueEight, .panel-heading:hover {
  background: #01C1CB !important;
  color: white !important;
  border-color: #01C1CB !important;
}

